In [1]:
import pyspark

In [4]:
import pandas as pd
type(pd.read_csv('test1.csv'))

pandas.core.frame.DataFrame

In [7]:
from pyspark.sql import SparkSession

In [8]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [10]:
spark

In [11]:
df= spark.read.csv('test1.csv')

In [14]:
df.head()

Row(_c0='Name', _c1='age', _c2='Experience', _c3='Salary')

In [15]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)

In [16]:
df.show()

+--------+---+----------+------+
|     _c0|_c1|       _c2|   _c3|
+--------+---+----------+------+
|    Name|age|Experience|Salary|
|   Gowri| 31|        10| 30000|
|Shanbkar| 30|         8| 25000|
| vallepu| 29|         4| 20000|
|  Vihaan| 24|         3| 20000|
| Lakshmi| 21|         1| 15000|
| Lakshmi| 23|         2| 18000|
+--------+---+----------+------+

In [17]:
#change the default columsn

In [21]:
df= spark.read.option('header','true').csv('test1.csv')

In [23]:
df.show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|   Gowri| 31|        10| 30000|
|Shanbkar| 30|         8| 25000|
| vallepu| 29|         4| 20000|
|  Vihaan| 24|         3| 20000|
| Lakshmi| 21|         1| 15000|
| Lakshmi| 23|         2| 18000|
+--------+---+----------+------+

In [25]:
type(df)

pyspark.sql.dataframe.DataFrame

In [27]:
type(pd.read_csv('test1.csv'))

pandas.core.frame.DataFrame